<h1><%= @restaurant.name %></h1>
<h3>Rating: <%= @restaurant.rating %></h3>
<p><%= @restaurant.address %></p>
<a href="/vote/<%= @restaurant.id %>">vote</a>
<hr>
<form action="/restaurants/<%= @restaurant.id %>" method="post" onsubmit="return confirm('Are you sure you want to delete this restaurant?');">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Restaurant</button>
</form>
<hr>
<a href="/">Go back</a>
